.button {
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  outline: none;
  border: none;
  border-radius: 0;
  color: white;

  @media (--break-large) {
    padding: 0.25rem 1rem;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--light-gray);
  }

  &:active {
    background-color: var(--blue) !important;
  }

  &[disabled] {
    cursor: default;
    background-color: var(--light-gray);
    opacity: 0.5;
  }
}
