.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem;

  @media (--break-large) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.header {
  text-align: center;
}

.canvasWrapper {
  position: relative;
}

.paused {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 0;
  user-select: none;
  visibility: none;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}

.canvas {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  border: 1px solid white;
  margin-top: 1rem;

  @media (--break-large) {
    margin-top: 0;
  }
}

.fps {
  line-height: 1;
  padding-right: 1rem;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  width: 2.5rem;
  font-weight: bold;
}

.show {
  opacity: 1;
  visibility: visible;
}
