.canvas {
  max-width: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  width: 16rem;
  border: 1px solid white;

  &:hover {
    color: white;
  }
}

.name {
  border-top: 1px solid white;
  padding-top: 0.25rem;
  margin-top: 0.5rem;
}
