.wrapper {
  width: 100%;
  max-width: 500px;

  @media (--break-large) {
    width: auto;
  }
}

.types,
.modifiers {
  display: flex;
  flex-direction: column;
  height: fit-content;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  overflow: hidden;

  @media (--break-large) {
    border: 1px solid white;
    border-left: none;
    max-width: 16rem;
    border-radius: 0 0 8px 0;
    margin: 0;
  }
}

.modifiers {
  margin-top: 1rem;

  @media (--break-large) {
    border-radius: 0 8px 8px 0;
  }
}

.button {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: left;
  align-items: center;
}

.selected,
.selected:hover,
.selected:focus-visible {
  background-color: var(--blue);
}

.emoji {
  margin-left: auto;
  font-size: 1.25rem;
}

.input[type=radio] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
